<footer class="bg-mine pt-20">
            <div id="footer-text" class="mx-20 flex flex-row justify-between">
                <div class="left">
                    <div id="text-left" class="mr-10">
                        <p>LOREM IPSUM DOLOR SIT  AMET, CONSECTETUR ADIPPSCING ELIT,</p>
                        <p>SED DO EIUSMOD TEMPOR INCIDIDUNT</p>
                    </div>
                </div>
                <div class="right flex flex-row mb-10">
                    <div id="quick-lines" class="mr-10">
                        <h1>Quick Links</h1>
                        <p><a href="/">Home</a></p>
                        <p><a href="/login">Sing up</a></p>
                        <p><a href="/login">Log in</a></p>
                    </div>
                    <div id="resources" class="mr-50">
                        <h1>Resources</h1>
                        <p><a href="/login">Support</a></p>
                        <p><a href="/login">Contact</a></p>
                        <p><a href="/login">Terms</a></p>
                    </div>
                </div>
            </div>
            <hr class="mx-20">
            <div class="flex flex-row justify-center">
                <p class="my-5 mx-10 text-4xl"><i class="fa-brands fa-facebook"></i></p>
                <p class="my-5 mx-10 text-4xl"><i class="fa-brands fa-instagram"></i></p>
                <p class="my-5 mx-10 text-4xl"><i class="fa-brands fa-x-twitter"></i></p>
                <p class="my-5 mx-10 text-4xl"><i class="fa-brands fa-linkedin"></i></p>
            </div>

</footer>