<div class="flex flex-row justify-between ml-20 pt-12 pl-16 mr-13">
    <div class="flex-auto w-1/3 text-shadow font-bold ">
        <h1 class="text-7xl leading-snug color-darker">Map Your </h1>
        <h1 class="text-7xl leading-snug"><span id="showing" class="color-mine border-word ">Adventure</span> : </h1>
        <h1 class="text-7xl leading-snug color-darker mt-5">Where Every</h1>
        <h1 class="text-7xl leading-snug"><span id="showing" class="color-mine border-word ">Journey</span></h1>
        <h1 class="text-7xl leading-snug color-darker">Begins</h1>
        {{#if logged_in}}
        <a href="/adventures"><button id="startButton" class="btn-start text-3xl font-extrabold tracking-wide mt-14 ml-32">Start your trip</button></a>
        {{else}}
        <a href="/login"><button id="startButton" class="btn-start text-3xl font-extrabold tracking-wide mt-14 ml-32">Start your trip</button></a>
        {{/if}}
    </div>
    <div class="flex-auto w-2/3 text-xl pl-10">
        <img class="image image1 mr-10" src="/images/hero1.avif">
        <img class="image image2 mr-10" src="/images/hero2.avif">
        <img class="image image1" src="/images/hero3.avif">
        <!-- images -->
   
    </div>
</div>
<div class="mt-60 text-xl h-full ideas">
    <div class="text-center pt-20">
        <h1 id="middleSection" class="title-color text-5xl text-shadow font-extrabold text-shadow">DISCOVER INSPIRATION FROM THESE PLACES</h1>
    </div>
        <div class="wrapper">
            <div class="container">
                <input type="radio" name="slide" id="c1" checked>
                <label for="c1" class="card">
                    <div class="row">
                        <div class="icon">1</div>
                        <div class="description">
                            <h4 class="black">Tokyo</h4>
                            <p class="black">
                                Its seamless blend of tradition and modernity.
                            </p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c2" >
                <label for="c2" class="card">
                    <div class="row">
                        <div class="icon">2</div>
                        <div class="description">
                            <h4 class="black">Moscow</h4>
                            <p class="black">
                                Its rich cultural heritage and vibrant arts scene.
                            </p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c3" >
                <label for="c3" class="card">
                    <div class="row">
                        <div class="icon">3</div>
                        <div class="description">
                            <h4 class="black">Cancun</h4>
                            <p class="black">
                                Its breathtaking natural beauty, particularly its stunning beaches with pristine white sand and crystal-clear turquoise waters.
                            </p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c4" >
                <label for="c4" class="card">
                    <div class="row">
                        <div class="icon">4</div>
                        <div class="description">
                            <h4 class="black">London</h4>
                            <p class="black">
                                Its unparalleled cultural diversity and cosmopolitan atmosphere. 
                            </p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c5" >
                <label for="c5" class="card">
                    <div class="row">
                        <div class="icon">5</div>
                        <div class="description">
                            <h4 class="black">Cartagena</h4>
                            <p class="black">
                                Its enchanting colonial charm and well-preserved historical architecture.
                            </p>
                        </div>
                    </div>
                </label>
            </div>
        </div>
   
    </div>