<div class="flex flex-row justify-between mx-20 pt-19 px-13">
    <div class="flex-auto w-10 text-shadow font-bold ">
        <h1 class="text-7xl leading-snug color-darker">Map Your </h1>
        <h1 class="text-7xl leading-snug"><span id="showing" class="color-mine border-word ">Adventure</span> : </h1>
        <h1 class="text-7xl leading-snug color-darker mt-5">Where Every</h1>
        <h1 class="text-7xl leading-snug"><span id="showing" class="color-mine border-word ">Journey</span></h1>
        <h1 class="text-7xl leading-snug color-darker">Begins</h1>
        <a><button class="btn-start text-3xl font-extrabold tracking-wide mt-14 ml-32">Start your trip</button></a>
    </div>
    <div class="flex-auto w-64 text-xl">
        <h1 class ="text-3xl"> IMAGES</h1>
        <!-- images -->
   
    </div>
</div>
<div class="mt-60 text-xl h-96 ideas">
        <h1 class ="text-3xl"> IDEAS TO PLAN YOUR NEXT TRIPS</h1>
        <!-- images -->
   
    </div>