<div class="journey text-shadow">
    {{!-- {{#if logged_in}} --}}
    <div class="w-3/12 ml-20 add-journey"> 
        <h1 class="text-3xl">Share your journey:</h1>
        <form>
            <div class="mt-4 form1">
                <label class="text-xl"for="title">Journey's title</label>
                <input placeholder="Italy's Journey" class="form-input w-full mt-1 pl-2 h-8 text-black rounded-lg" type="text" id="title">
            </div>
            <div class="form2">
                <div class="mt-4 text-xl"><label>Type of Journey:</label></div>
                <div class="trip-types flex flex-wrap mt-2">
                    <div class="text-center selected">
                        <label for="beach" > 
                        <input type="radio" id="beach" name="option" checked>Beach 
                        </label>
                        <img class="mr-4 image-input mt-2"src="/images/beach.avif" style="width:208px">
                    </div>
                    <div class="text-center">
                        <label  for="camping">
                        <input type="radio" id="camping" name="option">Camping 
                        </label>
                        <img class="image-input mt-2"src="/images/camping.avif" style="width:208px">
                    </div>
                    <div class="mt-5 text-center">
                        <label for="skiing">
                        <input type="radio" id="skiing" name="option">Skiing 
                        </label>
                        <img class="mr-4 image-input mt-2" src="/images/skiing.avif" style="width:208px">
                    </div>
                    <div class="mt-5 text-center">
                        <label for="other">
                        <input type="radio" id="other" name="option">Other 
                        </label>
                        <img class="image-input mt-2" src="/images/other.avif" style="width:208px">
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <label class="text-xl" for="where">Where did you go?</label>
                <input placeholder="E.g. Rome, Italy..." class="form-input w-full mt-1 pl-2 h-8 text-black rounded-lg" type="text" id="where">
            </div>
            <div class="mt-4">
                <label class="text-xl" for="items">What did you bring?</label>
                <input placeholder="I brought my backpack with..." class="form-input w-full mt-1 pl-2 h-8 text-black rounded-lg" type="text" id="where">
            </div>
            <div class="mt-4">
                <label class="text-xl" for="experience">Tell us how it went:</label>
                <textarea placeholder="I really enjoyed my trip to..." class="mt-1 pl-2 text-black rounded-lg pt-2" name="experience" id="experience" cols="40" rows="7" style="width:100%"></textarea>
            </div>
            <div class="mt-4 text-center">
                <button id="submit" class="btn-signup text-2xl text-black text-shadow" style="background-color:#99F2CD">Submit</button>
            </div>
        </form>
    </div>
    <div class="w-9/12">

    </div>
    {{!-- {{/if}} --}}
</div>