<div class="journey">
    <div class="w-1/5 ml-20 add-journey"> 
        <h1 class="text-2xl">Share your journey:</h1>
        <form>
            <div class="mt-4">
                <label for="title">Journey's title</label>
                <input class="form-input w-full mt-1 pl-2 h-8 text-black rounded-lg" type="text" id="title">
            </div>
            <div>
                <div class="mt-4"><label>Type of Journey</label></div>
                <div>
                    <label for="beach">
                    <input type="radio" id="beach" name="option">Beach 
                    </label>
                </div>
                <div>
                    <label for="camping">
                    <input type="radio" id="camping" name="option">Camping 
                    </label>
                </div>
                <div>
                    <label for="skiing">
                    <input type="radio" id="skiing" name="option">Skiing 
                    </label>
                </div>
                <div>
                    <label for="other">
                    <input type="radio" id="other" name="option">Other 
                    </label>
                </div>
            </div>
            <div class="mt-4">
                <label for="where">Where did you go?</label>
                <input class="form-input w-full mt-1 pl-2 h-8 text-black rounded-lg" type="text" id="where">
            </div>
            <div class="mt-4">
                <label for="items">What did you bring?</label>
                <input class="form-input w-full mt-1 pl-2 h-8 text-black rounded-lg" type="text" id="where">
            </div>
            <div class="mt-4">
                <label for="experience">Tell us how it went:</label>
                <textarea class="mt-1 pl-2 text-black rounded-lg"name="experience" id="experience" cols="40" rows="10" style="width:100%"></textarea>
            </div>
        </form>
    </div>
    <div class="w-4/5">

    </div>
</div>